{% for host in groups['bastion'] %}
Host bastion
    User                   ubuntu
    StrictHostKeyChecking  no
    HostName               {{ host }}
    ProxyCommand           none
    IdentityFile           ~/.ssh/{{ key_name }}.pem
    BatchMode              yes
    PasswordAuthentication no

Host *
    ServerAliveInterval    60
    StrictHostKeyChecking  no
    TCPKeepAlive           yes
    ProxyCommand           ssh -q -A ubuntu@{{ host }} nc %h %p
    ControlMaster          auto
    ControlPath            ~/.ssh/mux-%r@%h:%p
    ControlPersist         8h
    User                   ubuntu
    IdentityFile           ~/.ssh/{{ key_name }}.pem
{% endfor %}
